@model IEnumerable<OnlineAuction.Models.Category>

<div asp-validation-summary="All" class="text-danger"></div>
<a asp-action="CreateCategory">Добавить категорию</a>
<table class="table">
    @foreach (Category category in Model)
    {
        <tr>
            <td>@category.Name</td>
            <td>
                <form asp-action="DeleteCategory" asp-route-id="@category.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="UpdateCategory" asp-route-id="@category.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

