@page
@model OnlineAuction.Views.Admin.Index

<h2>Admin Panel</h2>

<table class="table">
    <tr>
        <td><a class="btn btn-sm btn-primary" asp-action="Users">Список пользователей</a></td>
    </tr>
    <tr>
            <td><a class="btn btn-sm btn-primary" asp-action="Roles">Список ролей</a></td>
    </tr>
</table>